.component__readproject{
    @include adaptive-value('margin-top', 96, 30, 4); 
    @include adaptive-value('margin-bottom', 96, 30, 4); 
    @include adaptive-value('margin-left', 238, 5, 4); 
    @include adaptive-value('margin-right', 238, 5, 4); 
    .part{}
    .component__readproject__contant{
        margin: 0 96px;
        @include adaptive-value('margin-right', 96, 5, 4); 
        @include adaptive-value('margin-left', 96, 5, 4); 
        .readproject__section{
            .readproject__section__title{
                @include text-title;
                @include adaptive-value('width', 832, 280, 4); 
                @include adaptive-value('margin-top', 32, 10, 4); 
                @include adaptive-value('margin-bottom', 32, 15, 4); 
                @include adaptive-value('font-size', 56, 22, 4); 
            }
            .readproject__section__text{
                @include text-p;
                & p {
                    margin-bottom: 32px;
                    @include adaptive-value('margin-bottom', 32, 15, 4); 
                }
            }
            .readproject__section__img{
                width: 100%;
                height: 320px;
                background: url(../img/Image.png) no-repeat center/cover;
            }
            .readproject__section__bottom{
                margin: 48px 0 96px;
                p {
                    @include text-p;
                }
                &-title{
                    @include middle-title;
                    margin-bottom: 16px;
                    @include adaptive-value('font-size', 48, 23, 4);
                }
                &-subtitle{
                    @include text-p;
                }
                &-list{
                    margin-top: 16px;
                    margin-bottom: 16px;
                    ul li{
                        list-style: inside;
                        font-weight: 700;
                        line-height: 160%;
                        color: #1D2130;
                        @include adaptive-value('font-size', 16, 12, 4); 
                    }
                }
            }
        }
    }
}